# About the datasets
The datasets were obtained in a survey of students in Math and Portuguese courses in 2 Secondary Schools.
The dataset contain a variety of information related to students' grades, circumstances, backgrounds, study habits and alcohol consumption.

#### Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:

- school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
- sex - student's sex (binary: 'F' - female or 'M' - male)
- age - student's age (numeric: from 15 to 22)
- address - student's home address type (binary: 'U' - urban or 'R' - rural)
- famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
- Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)
- Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
- Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
- Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
- guardian - student's guardian (nominal: 'mother', 'father' or 'other')
- traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
- studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
- failures - number of past class failures (numeric: n if 1<=n<3, else 4)
- schoolsup - extra educational support (binary: yes or no)
- famsup - family educational support (binary: yes or no)
- paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
- activities - extra-curricular activities (binary: yes or no)
- nursery - attended nursery school (binary: yes or no)
- higher - wants to take higher education (binary: yes or no)
- internet - Internet access at home (binary: yes or no)
- romantic - with a romantic relationship (binary: yes or no)
- famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
- freetime - free time after school (numeric: from 1 - very low to 5 - very high)
- goout - going out with friends (numeric: from 1 - very low to 5 - very high)
- Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
- Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
- health - current health status (numeric: from 1 - very bad to 5 - very good)
- absences - number of school absences (numeric: from 0 to 93)

These grades are related with the course subject, Math or Portuguese:

- G1 - first period grade (numeric: from 0 to 20)
- G2 - second period grade (numeric: from 0 to 20)
- G3 - final grade (numeric: from 0 to 20, output target)

<b>Total:</b> 395 students in Math dataset, 649 students in Portugese dataset. 

<b>Note:</b> 382 students are in both datasets. They can be identified via these attributes: school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, nursery, internet.

---

## Data Extraction

In [16]:
# Import useful libraries

import numpy as np
import pandas as pd

In [17]:
Mdata = pd.read_csv('Student Alcohol Consumption/student-mat.csv')
Mdata.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

In [18]:
Pdata = pd.read_csv('Student Alcohol Consumption/student-por.csv')
Pdata.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

To analyse the datasets better, we will merge these 2 datasets into 1 main dataframe for easier access and reference.

## Data Cleaning

First, since both Math and Portuguese grades are denoted by G1, G2, G3 in both datasets, we first need to rename the columns to differentiate between G1, G2, G3 in Math and Portuguese grades.

In [19]:
Mdata_clean=Mdata.rename(columns={"G1": "MG1", "G2": "MG2", "G3": "MG3"})
Mdata_clean.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,MG1,MG2,MG3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

In [20]:
Pdata_clean=Pdata.rename(columns={"G1": "PG1", "G2": "PG2", "G3": "PG3"})
Pdata_clean.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,PG1,PG2,PG3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [21]:
print("Data type : ", type(Mdata_clean))
print("Data dims : ", Mdata_clean.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (395, 33)

In [22]:
print("Data type : ", type(Pdata_clean))
print("Data dims : ", Pdata_clean.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (649, 33)

In [23]:
Mdata_clean.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'MG1', 'MG2', 'MG3'],
      dtype='object')

In [24]:
Pdata_clean.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'PG1', 'PG2', 'PG3'],
      dtype='object')

---

Then, we merge the datasets based on common columns: "school", "sex", "age", "address", "famsize", "Pstatus", "Medu", "Fedu", "Mjob", "Fjob", "reason", "nursery", "internet" (which are indicated on Kaggle as the attributes used to identify students who take both subjects). 

This means that we will get a new dataframe that combines all students who take either Math and/or Portuguese without double counting any student.

In [25]:
merged = pd.merge(Mdata_clean, Pdata_clean, on=["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"], how ="outer", indicator=True)

# loop through the column names and fill missing values in the merged dataframe with values from Mdata
column_names = ['guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities','higher', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences']
for col in column_names:
    merged[col] = merged[col+'_x'].fillna(merged[col+'_y'])

# drop the original columns from both dataframes
merged.drop([col+'_x' for col in column_names], axis=1, inplace=True)
merged.drop([col+'_y' for col in column_names], axis=1, inplace=True)

# remove duplicates
data = merged.drop_duplicates(subset=["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"])

data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,nursery,internet,MG1,MG2,MG3,PG1,PG2,PG3,_merge,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,higher,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,yes,no,5.00,6.00,6.00,0.00,11.00,11.00,both,mother,2.00,2.00,0.00,yes,no,no,no,yes,no,4.00,3.00,4.00,1.00,1.00,3.00,6.00
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,no,yes,5.00,5.00,6.00,9.00,11.00,11.00,both,father,1.00,2.00,0.00,no,yes,no,no,yes,no,5.00,3.00,3.00,1.00,1.00,3.00,4.00
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,yes,yes,7.00,8.00,10.00,12.00,13.00,12.00,both,mother,1.00,2.00,3.00,yes,no,yes,no,yes,no,4.00,3.00,2.00,2.00,3.00,3.00,10.00
3,GP,F,15,U,GT3,T,4,2,health,services,home,yes,yes,15.00,14.00,15.00,14.00,14.00,14.00,both,mother,1.00,3.00,0.00,no,yes,yes,yes,yes,yes,3.00,2.00,2.00,1.00,1.00,5.00,2.00
4,GP,F,16,U,GT3,T,3,3,other,other,home,yes,no,6.00,10.00,10.00,11.00,13.00,13.00,both,father,1.00,2.00,0.00,no,yes,yes,no,yes,no,4.00,3.00,2.00,1.00,2.00,5.00,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,MS,F,19,R,GT3,A,1,1,at_home,at_home,course,yes,no,NaN,NaN,NaN,8.00,0.00,0.00,right_only,other,2.00,2.00,3.00,no,yes,no,yes,no,yes,3.00,5.00,4.00,1.00,4.00,1.00,0.00
678,MS,F,18,R,GT3,T,2,2,services,other,home,yes,yes,NaN,NaN,NaN,14.00,14.00,15.00,right_only,mother,2.00,3.00,0.00,no,no,no,no,yes,yes,4.00,2.00,1.00,1.00,1.00,4.00,5.00
679,MS,F,18,R,LE3,A,1,2,at_home,other,course,yes,no,NaN,NaN,NaN,16.00,15.00,15.00,right_only,mother,3.00,2.00,0.00,no,no,no,no,yes,yes,4.00,3.00,4.00,1.00,4.00,5.00,0.00
680,MS,F,19,R,GT3,T,1,1,at_home,other,course,yes,yes,NaN,NaN,NaN,7.00,8.00,9.00,right_only,other,2.00,2.00,1.00,no,yes,no,no,yes,yes,4.00,3.00,3.00,1.00,1.00,3.00,4.00
681,MS,F,17,U,GT3,T,4,3,teacher,other,other,yes,yes,NaN,NaN,NaN,6.00,9.00,11.00,right_only,mother,2.00,2.00,0.00,no,no,no,no,yes,no,5.00,5.00,4.00,1.00,1.00,1.00,0.00

In [26]:
print("Data type : ", type(data))
print("Data dims : ", data.shape)
data.columns

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (662, 37)

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'nursery', 'internet', 'MG1', 'MG2', 'MG3',
       'PG1', 'PG2', 'PG3', '_merge', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'higher',
       'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health',
       'absences'],
      dtype='object')

---

Finally, we combine weekday + weekend alcohol consumption into weekly alcohol consumption.

In [27]:
data['alc'] = data['Dalc'] + data['Walc']
data['alc'].head()

0                   2.00
1                   2.00
2                   5.00
3                   2.00
4                   3.00
Name: alc, dtype: float64

We also combine Medu and Fedu into 1 varible Pedu to signfify parents' education level overall.

In [28]:
data['Pedu'] = data['Medu'] + data['Fedu']
data['Pedu'].head()

0    8
1    2
2    2
3    6
4    6
Name: Pedu, dtype: int64